

body {
	margin-top: 20%;
	background-color: #686868;
}

div.ul ul {
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu li a {
	display: inline-block;
	width: 120px;
	padding: 10px;
	border-radius: 5px;
	margin: 2px;
	color: #ff0000;
	font-weight: bold;
	text-decoration: none;
	background-color: #8cbe05;
}

.hover ul a:hover {
	background-color: #e7f1cc;
}
